body{
    font-family: 'Roboto', serif;
    background-color:#999999;
    box-sizing: border-box;
}

.header{
    font-family: 'Alkatra', cursive;
    font-weight: 600;
    font-size: 32px;
    color: #42C840;
}

/*Navbar*/
.logo{
    border: 3px solid #F3E50F;
    border-radius: 50%;
}

/*Landing Page*/
.landing-outer{
    height: 100vh;
    display: flex;
    background-image: url('./images/Meet.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
    opacity: 0.9;
}
.landing-inner{
    padding-top: 5rem;
}

.landing-text{
    background: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    opacity: 0.9;
    font-size: 20px;
    margin-left: 3px;
}

.emblem{
    font-family: 'Alkatra', cursive;
    font-weight: 600;
    font-size: 24px;
    color: #42C840;
    padding-left: 5px;
}

.landing-txt{
    font-family: 'Alkatra', cursive;
    padding-left: 5px;
}
.landing-btn{
    margin-top: 7px;
    margin-left: 5px;
}


/*Media Queries*/
/* @media screen and (max-with: 1024p) {
    .landing-text{
        margin-left: 0;
        padding-left: 5px;
        margin-top: 30px;
    }

    .landing-inner{
        margin-left: 10px;
    }
} */



/* Home Page */
.header{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.header .header-text{
    border-bottom: #F3E50F 3px solid;
    font-size: 52px;
}

.intro p{
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.mission-div{
   margin-top: 3rem;
   padding: 5rem;
   border: 3px solid #42C840;
   border-radius: 4rem 4rem 4rem 4rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.87);
   transition: transform .2s ease-in-out;
   
}

.mission-div:hover{
    transform: scale(1.1);
}

.mission{
    display: flex;
    justify-content: center;
    
}

.mission-header{
    font-family: 'Alkatra', cursive;
    font-size: 30px;
    color: #42C840;
    overflow: hidden;
}

.mission-text{
    font-family: 'Roboto', serif;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}

.vision-div{
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 5rem;
   border: 3px solid black;
   border-radius: 4rem 4rem 4rem 4rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.87);
   transition: transform .2s ease-in-out;
}

.vision-div:hover{
    transform: scale(1.1);
}

.vision{
    display: flex;
    justify-content: center;
}

.vision-header{
    font-family: 'Alkatra', cursive;
    font-size: 30px;
    color: #42C840 ;
}

.vision-text{
    font-family: 'Roboto', serif;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}

.leaders-header{
    display: flex;
   justify-content: center;
   color: #42C840;
   font-family: 'Alkatra', cursive;
   font-size: 38px;
}

.leader{
    height: 22rem;
    margin-bottom: 3rem;
}

.leaders{
    border-bottom: 2px solid #F3E50F;
}

.salutation{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leaderlbl{
    font-family: 'Alkatra', cursive;
    font-size: 20px;
    color: #42C840;
}

.leader-txt{
    font-family: 'Roboto', serif;
    font-weight: 400;
}

.slider-span{
    color: #42C840;
    font-family: 'Alkatra', cursive;
    font-size: 20px;
}

.slider-div{
    gap: 2rem
}

.slide-img{
   height: 400px;
}

/* ABOUT */

.about-body{
    margin-bottom: 5rem;
    border: 2px dotted #F3E50F;
    border-radius: 2rem;
    padding: 3rem;
}

.about-text{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', serif;
}

.aboutIssues{
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-family: 'Alkatra', cursive;
    color: #42C840;
}

.issue-head{
    display: flex;
    justify-content: center;
    font-family: 'Alkatra', cursive;
    font-size: 18px;
    color: #42C840;
}


.Issue-group li{
list-style:lower-alpha;
text-align: left;
font-family: 'Roboto', serif;
font-size: 20px;
font-weight: 400;

}

.issue-border{
    border-right: 2px dashed #F3E50F;
}

.Issues-list{
    padding: 2rem;
    margin-bottom: 3rem;
}

/*INVOLVE*/

.involve-txt,.issue-txt{
    font-family: 'Roboto', serif;
    font-size: 20px;
    font-weight: 400;
}

.involve-list{
    border: 4px solid #42C840;
    border-radius: 3rem;
    padding: 2rem;
    margin: 2rem;
    background-color: #141414;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.87);
    transition: transform .2s ease-in-out;
}

.involve-list:hover{
    transform: scale(1.1);
}

.involve-list ul li{
    font-family: 'Roboto', serif;
    font-size: 20px;
    font-weight: 400;
    list-style-type: decimal;
    padding-bottom: 3px;
}

.involve-list ul li span{
    color: #42C840;
    font-family: 'Alkatra', cursive;
    font-size: 20px;
}

.involve-bottom{
    margin-bottom: 2rem;
}

/*Issues*/

.issue-txt{

}

.Issue-list{
    border: 4px solid #42C840;
    border-radius: 3rem;
    padding: 2rem;
    margin: 2rem;
    background-color: #141414;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.87);
    transition: transform .2s ease-in-out;
}

.Issue-list:hover{
    transform: scale(1.1);
}

.Issue-list ul li{
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 20px;
    list-style: decimal;
}

.Issue-list ul li span{
    color: #42C840;
    font-family: 'Alkatra', cursive;
    font-size: 20px;
}

/*NEWS*/
.news-item{
    text-align: center;
    font-family: 'Alkatra', cursive;
    font-size: 20px;
}

/*CONTACTS*/

.contact{
    border: 3px solid #42C840;
    border-radius: 5rem 5rem 5rem 5rem;
    padding: 5rem;
    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: center;
    background-color: #141414;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.87);
    transition: transform .2s ease-in-out;
    
}

.contact-txt{
    font-family: 'Roboto',serif;
    font-size: 20px;
    font-weight: 400;
}

.contact:hover{
    transform: scale(1.1);
}

.contact li{
    list-style: none;
    font-family: 'Roboto',serif;
    font-size: 20px;
    font-weight: 400;
}

.contact-items{
    
    font-family: "Alkatra", cursive;
    font-size: 24px;
    color: #42C840;
}


/* Footer */

.footer{
    border-top: 2px solid #42C840;
}

.footer-heading{
    display: flex;
    justify-content: center;
    font-family: 'Alkatra', cursive;
    font-size: large;
    margin-top: 2rem;
    font-size: 24px;
    border-bottom: 3px dashed #42C840;
}

.footerlink ul li{
    list-style:none; 
    display: flex;
    justify-content: center;  
}

.footer-links{
    color: black;
    text-decoration: none;
    font-family: 'Alkatra', cursive;
}

.social-links ul li{
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-social{
    color: black;
}


